Repository chas-academy/u08-business-idea-team1-bokmalarna, pull requests merged in 2022-05, with the labels that each got.

#33 create userschema
  backend/models/user.js
Labels: pr

#32 Login/logout
  backend/package-lock.json
  backend/package.json
  backend/routes/user.js
  backend/server.js
Labels: pr

#34 add book.js and bookSchema
  backend/models/book.js
Labels: pr

#35 Registration
  backend/routes/user.js
Labels: pr

#54 React login/logout
  backend/package-lock.json
  backend/package.json
  backend/routes/user.js
  backend/server.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/dashboard/Dashboard.js
  frontend/src/components/login/Login.js
Labels: front, pr

#58 Dashboard
  frontend/package-lock.json
  frontend/public/index.html
  frontend/src/components/dashboard/Dashboard.js
  frontend/src/index.css
Labels: front, pr

#67 create delete api response to let user delete its account with id
  backend/routes/user.js
Labels: backend, pr

#68 Book page
  frontend/public/index.html
  frontend/src/App.css
  frontend/src/components/bookpage/Bookpage.js
  frontend/src/index.css
Labels: front, pr

#72 Revert "add styling to addBook component"
  frontend/src/components/addbook/Addbook.js
Labels: pr

#73 Registration
  frontend/src/components/registration/Registration.js
Labels: pr

#74 Create static website for search
  frontend/src/components/search/Search.js
Labels: front, pr

#79 Nav bar and landing page
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.js
  frontend/src/components/Home/Home.js
  frontend/src/components/bookpage/Bookpage.js
  frontend/src/components/nav/nav.js
  frontend/src/index.css
  frontend/src/index.js
Labels: front, pr

#81 Edituser
  backend/models/book.js
  backend/package-lock.json
  backend/package.json
  backend/routes/book.js
  backend/routes/user.js
  backend/server.js
  frontend/package-lock.json
Labels: backend, pr

#82 Footer
  frontend/package-lock.json
  frontend/package.json
  frontend/public/bookowl.png
  frontend/public/index.html
  frontend/src/components/bookpage/Bookpage.js
  frontend/src/components/footer/Footer.js
  frontend/src/index.css
Labels: task, front

#96 User route be
  backend/routes/user.js
Labels: backend, pr

#98 93 fix text format landingpage
  frontend/src/components/Home/Home.js
Labels: task, front, pr

#101 Create a get route to let a users fetch its books
  backend/routes/book.js
Labels: backend, pr

#102 Post book be img
  backend/controllers/bookController.js
  backend/package-lock.json
  backend/package.json
  backend/routes/book.js
Labels: backend, pr

#107 update API_URLs and set DEV/PROD URL for server.js
  frontend/src/components/dashboard/Dashboard.js
  frontend/src/components/login/Login.js
  frontend/src/components/registration/Registration.js
Labels: pr

#113 Server fixes
  backend/server.js
  frontend/src/components/footer/Footer.js
Labels: backend, pr
